  /* Body and Font Styling */
  body {
    font-family: 'Sora', sans-serif;
  }
  
  h1, h2, h3, p, ul, li, nav, footer {
    font-family: 'Sora', sans-serif;
  }
  
  /* Header Section */
  header {
    background-color: #4c94e6;
    color: white;
    padding: 2rem 0;
    text-align: center;
  }
  
  header h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  header p {
    font-size: 1.2rem;
  }
  
  /* Navbar */
  .navbar {
    border-bottom: 2px solid #8e8e8e;
  }
  
  .nav-link.active {
    font-weight: bold;
    color: #4c94e6 !important;
  }

  .navbar-toggler:hover {
  background-color: #4c94e6;
  border-color: #003e6d;
}
  
  /* Main Content */
  main {
    padding: 2rem;
  }
  
  main h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #4c94e6;
  }
  
  main p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  
  main img {
    max-width: 100%;
    height: auto;
  }  
  
  /* Footer */
  footer {
    background-color: #2e2e2e;
    color: white;
    text-align: center;
    padding: 1rem 0;
  }
  
  /* Contact Form */
  form {
    margin-top: 2rem;
  }
  
  form .form-control {
    border-radius: 5px;
    border: 1px solid #d2d2d2;
    padding: 0.8rem;
  }
  
  form .btn {
    background-color: #4c94e6;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  form .btn:hover {
    background-color: #357cba;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    header h1 {
      font-size: 2rem;
    }
  
    header p {
      font-size: 1rem;
    }
  
    main {
      padding: 1rem;
    }
  
    .navbar-brand {
      font-size: 1.2rem;
    }
  
    footer {
      font-size: 0.9rem;
    }
  }
  footer i {
    font-size: 1.5rem;
  }
  
  @media (max-width: 768px) {
    footer i {
      font-size: 1.2rem;
    }
  }

  @media (max-width: 768px) {
    .video-container {
      padding: 0.5rem;
    }
  
    video {
      width: 100%;
      height: auto;
    }
  }

  /* Video */
  video {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
